{{#each beer-results}}
<div class="column">
    <div class="callout">
    <p class="lead">Bar: {{name}}</p>
    <p class="subheader">Type: {{brewery_type}}</p>
    <p>Address: {{street}}</p>
    <p>Number: {{phone}}</p>
    <p>Wesbite: {{website_url}}</p>
    <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
    </div>
</div>
{{/each}}