<!-- Start Top Bar 
<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Craving Results:</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button" id="submit-city">Search by city</button></li>
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button" id="submit-zip">Search by zipcode</button></li>
      </ul>
    </div>
  </div>
</div>-->
<!-- End Top Bar -->
<br>
<br>
<br>
<br>
<!-- You can now combine a row and column if you just need a 12 column row -->
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>


<div class="row">
<div class="small-4 medium-6 large-11 columns hero-text">
  <h3>{{{bar.name}}}</h3>
  <div class="row">
    <div class="small-9 columns">
    </div>
  </div>
  

  <p class="subheader">Type: {{bar.brewery_type}}</p>
  <p>Address: {{bar.street}}</p>
  <p>Number: {{bar.phone}}</p>
  <a href="{{bar.website_url}}">Website</a>

  <p> Rate, Comment, and tell us about this Brewery! </p>

</div>
</div>
