<br>
<br>
<br>
<br>
<!-- You can now combine a row and column if you just need a 12 column row -->
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>


<div class="row">
<div class="small-4 medium-6 large-11 columns hero-text">
  <h3>{{{name}}}</h3>
  <div class="row">
    <div class="small-9 columns">
    </div>
  </div>
  

  <p class="subheader">Type: {{brewery_type}}</p>
  <p>Address: {{street}}</p>
  <p>Number: {{phone}}</p>
  <a href="{{website_url}}">Website</a>

  <p> Rate, Comment, and tell us about this Brewery! </p>

</div>
</div>
